NOTION_API_KEY=
NEO4J_URI=
NEO4J_USER=
NEO4J_PASS=

RENAME THIS FILE TO
.env

used in npm run dev, in production you usually make use of the hosting platform environment variables

delete these comments.